/* General */
body {
  width: 800px;
  margin: 0 auto;
}

/* Typography */
h1, h2 {
  text-align: center;
}

#brand {
  text-align: center;
}

p {
  font-weight: bold;
}
/* Block Styling */
.main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background: no-repeat 50% center;
  color: black;
}

/* Styling the products display */
.item img {
  width: 200px;
  height:200px;
}

/* Div children of body */
body > div {
  border: 5px solid black;
  display: flex;
}
.rotate img
{
animation: rotation .3s infinite linear;
}

@keyframes rotation {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(359deg);
}
}

.table-header {
font-size: large;
text-align: center;
}

table {
margin: 0 auto;
border-collapse: collapse;
}

td {
padding: 8px;
font-size: medium;
text-align: center;
}